.offset-s1.col.s4 = comment.content
.col.s4 = comment.user.try(:email)
- if current_user.autor_of?(comment) || current_user.autor_of?(comment.commentable)
  .col.s2 =< link_to 'Удалить', comment_path(comment), method: :delete
br
