= form_for SearchQuery.new, url: '/search', method: :get do |f|
  = f.text_field :query
  = f.select :index_type, { "Искать везде": "", "В вопросах": "question", "В ответах": "answer", "В комментариях": "comment" }
  .center = f.submit 'Искать', class: 'btn'

