.nested-fields.col.s12
  = f.label :file
  = f.file_field :file
  = link_to_remove_association "Удалить файл", f
/ .center.nested-fields.col.s12
/   .file-field.input-field.gallery_picture
/     .btn Загрузить файл
/     = f.file_field :file
/     .col.s4
/       input.file-path.validate type="text"
/   = link_to_remove_association "Удалить файл", f, class: "btn"
